.component-category-car-panel {
  background: rgb(57, 111, 167);
  background: linear-gradient(
    297deg,
    rgba(57, 111, 167, 1) 0%,
    rgba(21, 42, 93, 0.9920343137254902) 100%
  );

  h2 {
    color: white;
  }
  
  .p-tree {
    background-color: transparent;
    border: none;
    .p-treenode-label {
      font-size: 1rem;
      color: white;
    }
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    color: $base-color-secondary;
    background-color: transparent;
  }

  .p-tree
    .p-tree-container
    .p-treenode
    .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    color: $base-color-secondary;
    background-color: transparent;
  }
}
