#components-dataviewcar{
    .p-dataview-content{
        display: flex;
        justify-content: center;
        align-self: center;
        .p-grid{
            justify-content: center;           
        }
    }
}