.components-filters-car-panel {
    background: rgb(95, 157, 241);
    background: linear-gradient(90deg, rgba(95, 157, 241, 1) 0%, rgba(10, 90, 131, 1) 100%);
    label,
    .components-filters-car-rangelabel-year {
        color: white;
    }
}
