<div class="relative grid m-0">
  
    <div class="col-12 p-0">
      <div class="page-home-full-image">
        <div class="grid grid-nogutter h-screen">
          <div class="col-12 md:col-6 flex align-items-center sm:justify-content-center">
            <div class="flex flex-column p-2">
              <h1 class="page-home-full-image-h1 m-1 animate__animated animate__slideInLeft text-center"><span>PODER</span> Y BELLEZA</h1>
              <p class="page-home-full-image-p m-1 animate__animated animate__slideInLeft text-center">
                Los mejores autos del mercado en un solo lugar
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6 flex align-items-center justify-content-center">      
              <img
                id="page-home-full-image-car-vehicule"
                class="animate__animated animate__zoomInUp animate__slow"
                src="./assets/images/home/car-vehicle.png"
                alt="vehiculo"
              />                   
          </div>
        </div>
      </div>
    </div>
  </div> 