.pages-about-us-bg {
   background-image: url('../../../../assets/images/home/quienes_somos.png'); 
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center bottom;
}
