.shopping-cart-card .p-card {
  background-image: linear-gradient(
    to right bottom,
    #d1d3d6,
    #d1d2d4,
    #d0d1d2,
    #d0d0d1,
    #cfcfcf
  );
  h2 {
    color: rgb(3, 12, 63);
    font-size: 1.6rem;
  }
  .p-card-body,
  .p-card-content {
    padding: 0px;
  }
}

.shopping-cart-items {
  img {
    width: 350px;
  }

  .shopping-cart-card-prices {
    h2 {
      color: black !important;
    }
  }
}
