<div class="grid m-0 mt-2 md:p-3">
  <div class="col-12 md:col-4">
    <p-card styleClass="page-home-service-card page-home-service-card-bg-blue">
      <span class="material-icons text-center">directions_car</span>
      <h3 class="text-center">Compra y venta de vehículos</h3>
      <p class="text-center">We buy and sale barand new car and also used car of any brand</p>
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card styleClass="page-home-service-card page-home-service-card-bg-red">
      <span class="material-icons text-center">car_rental</span>
      <h3 class="text-center">Servicio de alquiler de vehículos</h3>
      <p class="text-center">We buy and sale barand new car and also used car of any brand</p>
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card styleClass="page-home-service-card page-home-service-card-bg-dark">
      <span class="material-icons text-center">settings_suggest</span>
      <h3 class="text-center">Servicio de vehículos</h3>
      <p class="text-center">We buy and sale barand new car and also used car of any brand</p>
    </p-card>
  </div>
</div>
