<div class="grid m-0">
  <div class="col-12  flex flex-column p-0  min-h-screen pages-about-us-bg">
    <h1 class="px-3">Quiénes Somos</h1>
    <p-divider></p-divider>
    <h3 class="text-justify px-3">
      Nuestra trayectoria nos avala como uno de los concesionarios líderes
      premiados del país, distinguido en reiteradas oportunidades por la calidad
      de nuestros servicios. Nuestro principal objetivo siempre ha sido y será
      la satisfacción del cliente,. Por ello buscamos superar sus expectativas,
      no sólo en las operaciones comerciales sino también en el servicio de
      postventa, a través de nuestros talleres con tecnología de avanzada, la
      venta de repuestos y accesorios. NUESTRA MISIÓN Desarrollar negocios
      comerciales, relacionados con la venta y servicios de post venta de
      automóviles de la marca Renault, brindando un servicio de excelencia, que
      satisfaga las necesidades y expectativas de nuestros clientes, basándonos
      en el profesionalismo y la pasión de nuestra gente, como base de
      permanencia y progreso en el mercado. PILARES TRAYECTORIA Trayectoria es
      haber estado en el pasado, mantenerse y seguir presentes en el futuro,
      generando relaciones de largo plazo con clientes y proveedores, cumpliendo
      con la palabra, siendo comercialmente correctos y valorando el tiempo de
      los demás. PASIÓN Pasión es eso que nace desde adentro, nos mueve, nos
      activa, hace que avancemos, que no encontremos fronteras. Queremos lo que
      hacemos, queremos a la Marca, a la Empresa y a los Productos que vendemos.
      Nuestra labor diaria la hacemos con dedicación. Somos inquietos,
      proactivos y optimistas. Nos gustan los desafíos, queremos ser los
      mejores, y trabajamos día a día para lograrlo. CONOCIMIENTO Conocimiento
      es Saber, teniendo la capacidad de transformar información y datos en
      acciones efectivas. Queremos brindar un servicio profesional, con vocación
      comercial y de servicio, siendo los más preparados, conociendo y
      satisfaciendo las necesidades y expectativas de nuestros clientes.
    </h3>      
  </div>
</div>

