<div class="grid m-0 mt-6 md:p-6">
  <div class="col-12 md:col-6 flex">
    <div class="grid grid-nogutter w-full">
      <div class="col-4">
        <div
          class="flex flex-column justify-content-center app-home-stadistics"
        >
          <span class="material-icons text-center"> emoji_events </span>
          <span class="app-home-stadistics-label text-center"
            >Total de Premios</span
          >
          <span class="app-home-stadistics-number text-center">30</span>
        </div>
      </div>
      <div class="col-4">
        <div
          class="flex flex-column justify-content-center app-home-stadistics"
        >
          <span class="material-icons text-center"> time_to_leave </span>
          <span class="app-home-stadistics-label text-center"
            >Autos Vendidos al Mes</span
          >
          <span class="app-home-stadistics-number text-center">1400</span>
        </div>
      </div>
      <div class="col-4">
        <div
          class="flex flex-column justify-content-center app-home-stadistics"
        >
          <span class="material-icons text-center"> beenhere </span>
          <span class="app-home-stadistics-label text-center"
            >Total de Marcas</span
          >
          <span class="app-home-stadistics-number text-center">20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 pt-0">
    <span class="material-icons app-home-stadistics-quote"> format_quote </span>
    <p class="app-home-stadistics-paragraph">
      Junto con miles de automóviles para elegir, puede solicitar financiamiento
      en línea y valorar su automóvil existente, todo desde la comodidad de su
      sillón favorito.
    </p>
    <p class="app-home-stadistics-paragraph">
      Anteponiendo siempre nuestro compromiso de tratar a los clientes de manera
      justa y equitativa.
    </p>
  </div>
</div>
